<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tools Solumada</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="../assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="../assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">


    <link rel="stylesheet" href="../assets/fontawesome/fontawesome-free/css/fontawesome.min.css">
    <link rel="stylesheet" href="../assets/fontawesome/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="../assets/css/lib/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../assets/css/lib/flag-icon-css/css/flag-icon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"> -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    <!-- <link rel="stylesheet" href="../assets/datatable/css/bootstrap.min.css">

    <link rel="stylesheet" href="../assets/datatable/css/style.css"> -->
</head>

<body>
    <div id="preloader" class="center"></div>

    <div id="right-panel" class="right-panel">

        <input type="hidden" name="" id="typeUtil" value="<%= type_util %> ">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="images/logo.jpg" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="/"><img src="images/logo 2.jpg" alt="Logo"></a>
                    <!--a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a-->
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.png" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="/profil"> <i class="fa fa-user"></i> My Profile</a>
                            <a class="nav-link" href="/user" id="utilisateur"><i class="fa fa-solid fa-users"></i>
                                Utilisateur</a>
                            <a class="nav-link" href="/historique" id="historique"><i
                                    class="fa fa-thin fa-calendar-check"></i> Historiques</a>
                            <a class="nav-link" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- </header> -->

    </div>
    <div class="content">
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4 col-md-4">
                        <a href="/">
                            <i class="fa fa-home fa-3x iconCol" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-sm-4 col">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>
                                    Reporting
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="/production">Production</a></li>
                                    <li> </li>
                                    <li class="active">> Reporting</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">
                                <a href="/production">
                                    <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                                </a>
                            </strong>
                            <div class="float-right">
                                <div class="col-12">
                                    <div class="d-flex justify-content-center">
                                        <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                                    role="tab" aria-controls="home" aria-selected="true">Home</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                                    role="tab" aria-controls="profile" aria-selected="false">Mois
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"
                                                    role="tab" aria-controls="contact" aria-selected="false">Semaine</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="tab-content pl-3 p-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <div class="col-md-12 mt-2">
                                        <div class="card">
                                            <div class="card-body">

                                                <div class="table-responsive-lg">
                                                    <table id="reportingDataTable" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Mcode</th>
                                                                <th>Nom</th>
                                                                <th>Début</th>
                                                                <th>Fin</th>
                                                                <th>Production</th>
                                                                <th>Faute</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="col-md-12 mt-2">
                                        <div class="card">
                                            <div class="table-responsive-lg">
                                                <!-- <table id="reportingDataTable" class="table"> -->
                                                <table id="reportingDataTableMonth"
                                                    class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Mcode</th>
                                                            <th>Nom</th>
                                                            <th>Mois</th>
                                                            <th>Production</th>
                                                            <th>Faute</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <div class="col-md-12 mt-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive-lg">
                                                    <table id="reportingDataTableWeek"
                                                        class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Mcode</th>
                                                                <th>Nom</th>
                                                                <th>Mois</th>
                                                                <th>Semaine</th>
                                                                <th>Production</th>
                                                                <th>Faute</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="add" id="addInvent" data-toggle="modal"
                                data-target="#addInventaire">
                                <i class="fa fa-plus"></i> add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addInventaire" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
            tabindex="-1">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title modalTitre" id="staticBackdropLabel">Nouveau Reporting</h5>
                    </div>
                    <div class="modal-body">
                        <form id="updateUserLevel" method="post">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="name" class="form-control-label">M-Code</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="" id="mcode" class="form-control standarSelect memberSelect">
                                        <option value="" disabled selected>choisir mcode</option>
                                        <% listAgent.forEach((listeAgent)=>{%>
                                            <option value="<%= listeAgent.mcode %>">
                                                <%= listeAgent.mcode %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>

                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="name" class="form-control-label">Nom</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="name" placeholder="" readonly class="form-control">
                                    <small id="" style="color: red; font-size: smaller; display: none;"></small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="name" class="form-control-label">Production</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" name="" id="production" class="form-control">
                                </div>

                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="name" class="form-control-label">Faute</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" name="" id="faute" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="" class="form-control-label">Début</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="date" name="" id="start" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="" class="form-control-label">Fin</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="date" name="" id="end" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="cancelReporting">Fermer</button>
                        <button type="button" class="btn btn-success" id="saveReporting">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalUpdateReporting" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
            tabindex="-1">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title modalTitre" id="staticBackdropLabel">Mis à jours Reporting</h5>
                    </div>
                    <div class="modal-body">
                        <form id="updateMaterial" method="post">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class="form-control-label">M-Code</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="" id="mcodeUpd" class="form-control">
                                        <option value="" disabled selected>choisir mcode</option>
                                        <% listAgent.forEach((agent)=>{ %>
                                            <option value="<%= agent.mcode %>">
                                                <%= agent.mcode %>
                                            </option>

                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="name" class="form-control-label">Nom</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="nameUpdatReport" placeholder="" readonly
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="name"
                                        class="form-control-label">Production</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="productionUpdat" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"> <label for="">Faute</label></div>
                                <div class="col-12 col-md-9">
                                    <input type="text" class="form-control" name="" id="fauteUpdat">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="">Début</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="date" name="" id="debutUpdat" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="">Fin</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="date" id="finUpdat" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="cancelUpdate">Fermer</button>
                        <button type="button" class="btn btn-success" id="saveUpdateMat">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="UpdatetimeTableModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="largeModalLabel">Update Time Table<Table></Table>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="card-body card-block">
                            <form id="formUpdateTimeTable" enctype="multipart/form-data" class="form-horizontal"
                                autocomplete="off">
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="timeStart-update" style="display: none;"
                                            class="form-control-label">Id</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="hidden" id="id-timetable-update" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="weekday"
                                            class="form-control-label">Date</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input id="dateUpdateTimetable" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="weekday"
                                            class="form-control-label">Day</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select data-placeholder="Choose day" class="form-control"
                                            id="select-jour-update" tabindex="1">
                                            <option value="lundi">lundi</option>
                                            <option value="mardi">mardi</option>
                                            <option value="mercredi">mercredi</option>
                                            <option value="jeudi">jeudi</option>
                                            <option value="vendredi">vendredi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="group_name" class="form-control-label">Group
                                            Name</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select data-placeholder="Choose Group" id="timetablegroupupdate"
                                            class="form-control">
                                        </select>
                                        <small id="cour_err" style="color: red; font-size: smaller; display:none;">This
                                            field is
                                            required</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="timeStart-update"
                                            class="form-control-label">Start
                                            At</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="time" id="timeStart-update" class="form-control">
                                        <small id="startTime_err"
                                            style="color: red; font-size: smaller; display:none;">This
                                            field is
                                            required</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="timeEnd-update" class="form-control-label">End
                                            At</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="time" id="timeEnd-update" class="form-control">
                                        <small id="endTime_err"
                                            style="color: red; font-size: smaller; display:none;">This
                                            field is
                                            required</small>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="closetimeUpdateTableModal"
                            data-dismiss="modal">Cancel</button>
                        <button class="btn-submit btn btn-success" type="button"
                            id="saveTeacherUpdateTimeTable">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="UpdateparcoursModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="largeModalLabel">Update Parcours<Table></Table>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="card-body card-block">
                            <form id="formUpdatePacours" enctype="multipart/form-data" class="form-horizontal"
                                autocomplete="off">
                                <div class="row form-group">
                                    <div class="col-12">
                                        <div class="feedback align-items-center">
                                            <small class="alert alert-danger text-center" role="alert" id="errorparc"
                                                style="display: none;color:red"></small>
                                            <small class="alert alert-success text-center" role="alert" id="successparc"
                                                style="display: none;color:green"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="group_name" class="form-control-label">Group
                                            Name</label></div>
                                    <div class="col-12 col-md-9">
                                        <h3 class="form-control" id="groupUpdateParcours"></h3>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="week">Date </label>
                                    </div>
                                    <div class="col col-md-9">
                                        <input id="dateUpdateParcours" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="groupName" class="form-control-label">Start
                                            At</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="time" id="timeStartUpdateParcours" class="form-control">
                                        <small id="startTime_err"
                                            style="color: red; font-size: smaller; display:none;">This
                                            field is
                                            required</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="groupName" class="form-control-label">End
                                            At</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="time" id="timeEndUpdateParcours" class="form-control">
                                        <small id="endTime_err"
                                            style="color: red; font-size: smaller; display:none;">This
                                            field is
                                            required</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="present"
                                            class=" form-control-label">Present</label></div>
                                    <div class="col-12 col-md-9">
                                        <select name="presentMemeber" id="presentParcoursUpdate"
                                            data-placeholder="Add present" class="StandardSelect" multiple></select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="cancelUpdateParcours"
                            data-dismiss="modal">Cancel</button>
                        <button class="btn-submit btn btn-success" type="button" id="saveParcoursUpdate">Save</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="deleteTimeTable" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="feedback align-items-center">
                        <center>
                            <small class="alert-danger" id="errorDelete" style="display: none;color:red"></small>
                            <small class="alert-success" id="successDelete" style="display: none;color:green"></small>
                        </center>
                    </div>
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title text-light" id="staticBackdropLabel">Delete this Time Table</h5>
                    </div>
                    <div class="modal-body">
                        <strong class="text-center">Are you sure to delete this Time Table?</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="deleteEmploi()"> Yes, delete
                            it!</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" data-dismiss="modal">No,
                            cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="parcoursModalDelete" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="feedback align-items-center">
                        <center>
                            <small class="alert-danger" id="errorDelete" style="display: none;color:red"></small>
                            <small class="alert-success" id="successDelete" style="display: none;color:green"></small>
                        </center>
                    </div>
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title text-light" id="staticBackdropLabel">Delete this Parcours Table</h5>
                    </div>
                    <div class="modal-body">
                        <strong class="text-center">Are you sure to delete this Parcours?</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="deleteParcours()"> Yes, delete
                            it!</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No,
                            cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="parcoursModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="largeModalLabel">New Parcours<Table></Table>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="card-body card-block">
                            <form id="formAddPacours" enctype="multipart/form-data" class="form-horizontal"
                                autocomplete="off">
                                <div class="row form-group">
                                    <div class="col-12">
                                        <div class="feedback align-items-center">
                                            <small class="alert alert-danger text-center" role="alert" id="errorparc"
                                                style="display: none;color:red"></small>
                                            <small class="alert alert-success text-center" role="alert" id="successparc"
                                                style="display: none;color:green"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="week">Date </label>
                                    </div>
                                    <div class="col col-md-9">
                                        <input id="dateParcours" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="groupName" class="form-control-label">Start
                                            At</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="time" id="timeStartParcours" class="form-control">
                                        <small id="startTime_err"
                                            style="color: red; font-size: smaller; display:none;">This
                                            field is
                                            required</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="groupName" class="form-control-label">End
                                            At</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="time" id="timeEndParcours" class="form-control">
                                        <small id="endTime_err"
                                            style="color: red; font-size: smaller; display:none;">This
                                            field is
                                            required</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="group_name" class="form-control-label">Group
                                            Name</label></div>
                                    <div class="col-12 col-md-9">

                                        <select data-placeholder="Choose Group" id="groupParcours"
                                            class="standardSelect">
                                            <option value="">Choose groupe</option>
                                        </select>
                                        <small id="cour_err" style="color: red; font-size: smaller; display:none;">This
                                            field is
                                            required</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="present"
                                            class=" form-control-label">Present</label></div>
                                    <div class="col-12 col-md-9">
                                        <select name="presentMemeber" id="presentParcours"
                                            data-placeholder="Add present" class="form-control prensentSelect"
                                            multiple="multiple"></select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="cancelAddParcours"
                            data-dismiss="modal">Cancel</button>
                        <button class="btn-submit btn btn-success" type="button" id="saveParcoursCreate">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addMemeber" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="largeModalLabel">Group Name<Table></Table>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="card-body card-block">

                            <form id="form" action="" method="post" enctype="multipart/form-data"
                                class="form-horizontal" autocomplete="off">
                                <div class="row form-group">
                                    <div class="col-12">
                                        <div class="feedback align-items-center">
                                            <small class="alert alert-danger text-center" role="alert" id="errorMbre"
                                                style="display: none;color:red"></small>
                                            <small class="alert alert-success text-center" role="alert" id="successMbre"
                                                style="display: none;color:green"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="group_name" class="form-control-label">New
                                            Members</label></div>
                                    <div class="col-12 col-md-9">
                                        <select data-placeholder="Choose Group" id="listUserToAddMember"
                                            name="listUserC" multiple class="form-control standardSelect memberSelect"
                                            tabindex="1">
                                            <option value=""></option>
                                        </select>
                                        <small id="cour_err" style="color: red; font-size: smaller; display:none;">This
                                            field is
                                            required</small>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-danger closeAddMember" data-bs-dismiss="modal"
                            data-dismiss="modal">Cancel</button>
                        <button class="btn-submit btn btn-rounded btn-success" type="button"
                            id="saveNewMemberList">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Right Panel

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>


    <script src="../assets/js/main.js"></script>

    <script src="../assets/fontawesome/js/all.js"></script>

    <script src="../assets/js/lib/data-table/jquery.dataTables.min.js"></script>
    <script src="../assets/js/lib/data-table/datatables.min.js"></script>
    <script src="../assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="../assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <!-- <script src="../assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
        <script src="../assets/js/lib/data-table/jszip.min.js"></script>
        <script src="../assets/js/lib/data-table/vfs_fonts.js"></script>
        <script src="../assets/js/lib/data-table/buttons.html5.min.js"></script>
        <script src="../assets/js/lib/data-table/buttons.print.min.js"></script>
        <script src="../assets/js/lib/data-table/buttons.colVis.min.js"></script>
        <script src="../assets/js/init/datatables-init.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.17/sweetalert2.min.js"></script>

    <script src="../assets/js/production/reporting.js"></script>


    <script>

        var loader = document.getElementById("preloader")
        window.addEventListener("load", function () {
            loader.style.display = "none"
            document.body.style.background = "linear-gradient(#A0B9E5, #D1DCF0)";
        })

    </script>
</body>

</html>